/* [Stream] Hide the 'watching now' from the video description's viewers. */
#view-count {
    display: none !important;
}

/* [Video] Hide the 'views' from the video thumbnail. */
#metadata > #metadata-line > span:nth-child(3) {
    display: none !important;
}

/* [Video] Hide the 'separator' between the video thumbnail's views and upload date. */
#metadata > #metadata-line > span:nth-child(4)::before {
    display: none !important;
}

/* [Video] Hide the view count on the sidebar of the video page. */
yt-content-metadata-view-model > div:nth-child(2) > span:not(:nth-child(3)) {
    display: none !important;
}

/* [Video] Hide the view count of the shorts on the sidebar of the video page. */
ytm-shorts-lockup-view-model > div > div:first-child > div {
    display: none !important;
}

/* [Video] Hide the video description's views. */
#info-container > #info > span:nth-child(1) {
    display: none !important;
}

/* [Video] Hide the 'separator' between the video description's views and upload date. */
#info-container > #info > span:nth-child(2) {
    display: none !important;
}

/* [Video] Hide the vote counts on all comments. */
#vote-count-middle {
    display: none !important;
}

/* [Video] Hide the channel subscriber count atop the video description. */
#owner-sub-count {
    display: none !important;
}

/* [Video] Hide the channel subscriber count below the video description. */
#header div#subtitle {
    display: none;
}

/* [Video] Hide the like amount in the like button above the video description. */
like-button-view-model > toggle-button-view-model > button-view-model > button > .yt-spec-button-shape-next__button-text-content {
    display: none !important;
}

/* [Shorts] Hide the description view count. */
view-count-factoid-renderer {
    display: none !important;
}

/* [Shorts] Hide the description like amount. */
div#factoids > factoid-renderer:nth-child(1) {
    display: none !important;
}

/* [Studio] Hide the subscribers trend. */
.subscribers-trend {
    display: none !important;
}

/* [Studio] Hide the comment analytics bar below the 'Latest post' section. */
ytcd-post-stats-item {
    display: none !important;
}

/* [Studio] Hide the typical performance indicator icons. */
.typical-perf-icon {
    display: none !important;
}

/* [Studio] Hide the 'Latest comments' section. */
ytcd-card[test-id="channel-dashboard-comment-card"] {
    display: none !important;
}

/* [Studio] Hide the 'Recent activity' section. */
ytcd-card[test-id="channel-dashboard-recent-activity-card"] {
    display: none !important;
}

/* [Studio] Hide the views metric in the 'Channel analytics' section. */
#metrics-table .metric-row:first-child {
    display: none !important;
}

/* [Studio] Hide the analytics section below 'Latest video performance'. */
#analytics-section {
    display: none !important;
}

/* [Studio] Hide the 'Go to video analytics' button below 'Latest video performance'. */
#go-to-video-analytics-button {
    display: none !important;

    width: 0;
    height: 0;
}

/* [Studio] Hide the 'Views' column value in the 'Content' sections. */
ytcp-video-row > div#row-container > .tablecell-views {
    display: none !important;
}

/* [Studio] Hide the 'Comments' column value in the 'Content' sections. */
ytcp-video-row > div#row-container > .tablecell-comments {
    display: none !important;
}

/* [Studio] Hide the 'Likes (vs. dislikes)' column value in the 'Content' sections. */
ytcp-video-row > div#row-container > .tablecell-likes {
    display: none !important;
}

/* [Studio] Hide the 'Live viewers' column value in the 'Content' sections. */
ytcp-video-row > div#row-container > .tablecell-live-viewers {
    display: none !important;
}

/* [Studio] Hide the 'Comments' column value in the 'Content#Posts' section. */
ytcp-post-row > div#row-container > .tablecell-comments {
    display: none !important;
}

/* [Studio] Hide the 'Likes' column value in the 'Content#Posts' section. */
ytcp-post-row > div#row-container > .tablecell-likes {
    display: none !important;
}

/* [Studio] Hide the 'Responses' column value in the 'Content#Posts' section. */
/* Yes, it is actually named 'Votes'. */
ytcp-post-row > div#row-container > .tablecell-votes {
    display: none !important;
}

/* [Studio] Hide the 'Views' column header in the 'Content' sections. */
div.tablecell-views {
    display: none !important;
}

/* [Studio] Hide the 'Comments' column header in the 'Content' sections. */
div.tablecell-comments {
    display: none !important;
}

/* [Studio] Hide the 'Likes (vs. dislikes)' column header in the 'Content' sections. */
div.tablecell-likes {
    display: none !important;
}

/* [Studio] Hide the 'Live viewers' column header in the 'Content#Live' section. */
div.tablecell-live-viewers {
    display: none !important;
}

/* [Studio] Hide the 'Responses' column header in the 'Content#Posts' section. */
/* Yes, it is actually named 'Votes'. */
div.tablecell-votes {
    display: none !important;
}

/* [Studio] Limit the width of the 'Save Draft' column in the 'Content#Videos' section.
This is done to align the elements on the left with the columns, as this element
is often wider than the other columns and has no column itself in this arrangement, and
its width is 88px by default. */
div#row-container > div:last-child:not([class^="tablecell-"]):has(.edit-draft-button) {
    max-width: 88px !important;
    width: 88px !important;
}

/* [Studio] Remove the minimum width of the 'Save Draft' column in the 'Content#Videos' section.
This is done to align the elements on the left with the columns, as this element
is often wider than the other columns and has no column itself in this arrangement, and
its min-width is 100px by default. */
div#row-container > div:last-child:not([class^="tablecell-"]):has(.edit-draft-button)[style] {
    min-width: 0 !important;
}

/* [Studio] Hide the date column if it is empty, such as in the case of a draft, as to align
the 'Save Draft' column with the other columns. Check for 'h3' too to avoid hiding the date
in other sections. */
div.tablecell-date:not(:has(div, h3)) {
    display: none !important;
}

/* [Studio] Hide the vote count in the 'Comments' section. */
ytcp-comment-action-buttons > div#toolbar > yt-formatted-string#vote-count {
    display: none !important;
}

/* [Studio] Hide the subscriber count in the 'Comments' section 'Mentions' section. */
ytcp-mention-entry > div#mention-entry > div#column-count > div#subscriber-count {
    display: none !important;
}

/*!* [Studio] Hide the 'Latest video' section. *!*/
/*div#video-snapshot {*/
/*    display: none !important;*/
/*}*/

/* [Studio] Hide the video metrics in 'Published videos'. */
ytcd-recent-videos-item div.video-metrics {
    display: none !important;
}

/* [YouTube] Hide the subscribers in the account switcher. */
ytd-account-item-renderer tp-yt-paper-item-body > yt-formatted-string:nth-child(3) {
    display: none !important;
}

/* [Channel] Hide the subscriber and video counts in the inner channel header of the main channel pages. */
#contentContainer #subscriber-count, #contentContainer #videos-count {
    display: none !important;
}

/* [Channel] Hide the video count and dot separator in the search page. */
span#video-count.style-scope.ytd-channel-renderer,
span#dot.style-scope.ytd-channel-renderer {
    display: none !important;
}

/* [Channel] Remove the space after the channel handle in the main channel pages. */
#contentContainer #subscriber-count + *, #contentContainer #channel-handle + * {
    display: none !important;
}

/* [Channel] Hide the 'views' from the video thumbnail. */
#metadata > #metadata-line.ytd-grid-video-renderer > span:nth-child(1) {
    display: none !important;
}

/* [Channel] Hide the 'separator' between the video thumbnail's views and upload date. */
#metadata > #metadata-line.ytd-grid-video-renderer > span:nth-child(2)::before {
    display: none !important;
}

/* [Shorts] Hide the like amount in the like button */
ytd-toggle-button-renderer[id="like-button"] .yt-spec-button-shape-with-label__label {
    display: none !important;
}

/* [Shorts] Hide the dislike amount in the like button */
ytd-toggle-button-renderer[id="dislike-button"] .yt-spec-button-shape-with-label__label {
    display: none !important;
}

/* [Shorts] Hide the comment amount */
div[id="comments-button"] .yt-spec-button-shape-with-label__label {
    display: none !important;
}

/* [Shorts] Hide the comments amount in side panel */
yt-formatted-string[id="contextual-info"] {
    display: none !important;
}

ytcp-button[id="view-comments-button"] {
    display: none !important;
}

/* [Channel] Hide subscriber count, delimiter, and video count in channel page. */
yt-content-metadata-view-model.page-header-view-model-wiz__page-header-content-metadata > *:not(:first-child) {
    display: none !important;
}

/* [Channel] Hide other channels subscriber count in channel page. */
span#thumbnail-attribution.style-scope.ytd-grid-channel-renderer {
    display: none !important;
}

/* [Channel] Hide the comment count in the comment section. */
#reply-button-end > ytd-button-renderer > yt-button-shape > a > div:nth-child(2).yt-spec-button-shape-next__button-text-content > span.yt-core-attributed-string.yt-core-attributed-string--white-space-no-wrap[role="text"] {
    display: none !important;
}

/* [Liked videos] Hide the video count in the video info section. */
yt-formatted-string#video-info > span:not(:last-child) {
    display: none !important;
}

/* [Studio] Hide the video count in the summary section. */
#metrics-table > div.metric-row.style-scope.ytcd-channel-facts-item {
    display: none !important;
}